@page "/debate"
@using BlazorDebatePicker.Classes;
@using OfficeOpenXml;

<PageTitle>Topics</PageTitle>

<h1>Topic</h1>

@foreach (var topic in topics)
{
    <p>@($"{topics.IndexOf(topic) + 1}. {topic}")</p>
}

<button class="btn btn-primary" @onclick="ListTopic">Generate a topic</button>

@code {

    const string path = @"E:\Documents\Topics.xlsx";
    List<string> topics = new();

    public void ListTopic()
    {
        topics = DebatePicker.ListTopic(path);
    }

}
